@charset "uft-8";
@import "default.css"; 

body{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #333;}

/* ----header----- */
header{width: 100%; height: 100px; background: #fff; position: relative; z-index: 999;}
.section{width: 100%; height: 100px; margin: 0 auto; display: flex; justify-content: space-between; position: relative;;}
.section .logo{display: inline-block; margin-left: 30px; vertical-align: top;}
.section .logo img{width: 100px; height: 100px;}
.section .nav{width: 70%; height: 100%; text-align: center; }
.section .nav>ul{display: flex; justify-content: center; cursor: pointer;}
.section .nav>ul>.active{width: 100px; text-align: center; line-height: 5; position: relative; margin: 0 15px;}
.section .nav ul .active a:hover{font-weight: bold; color: #226140;}
.section .nav ul .active .sub{overflow: hidden; background: green; height: 0;}
.section .nav ul .active .sub li a{color: #fff; font-size: 12px; }
.section .nav{display: block;}
.section .nav ul .active .sub li{display: inline-block;}
/* .section .active>ul>li:hover .sub{display: block;} */

.section .nav ul .active:hover {transition-duration: 0.5s;}
.section .nav ul .active:hover>.sub {height: 250px; transition-duration: 1s;}

.section .btn{}
/* ----main---- */
#main{width: 100%; margin: 100px auto;}


/* ----swiper---- */
.swiper { width: 100%; height: 100%;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}

.video{width: 100%; height: 100%; text-align: center; padding-top: 30px;}

.sns{width: 800px; margin: 100px auto;}
.sns h3{font-size: 26px; text-align: center; }


/* ----footer---- */
footer{width: 100%; margin: 0 auto; background: #333;}
.footer_p, .footer_a address{color: #eee; font-size: 12px; text-align: center; padding-top: 10px; font-style: normal;}